.main {
  width: 70%;
  background-color: #fff;
  margin: auto auto;
}

/* посмотреть Минина по заголовкам, центрированию и отдельно про картинки внутри текста */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.5em;
}
h1 {
  font-size: 32px;
}

.tabl1 {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

.capt {
  margin-top: 0;
}

figcaption,
.capt {
  font-style: italic;
}

figure {
  float: right;
  margin: 0 0 7px 7px;
}
